

/***************
* Header
****************/

/* #header {
  background-color: rgb(21, 21, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
} */

#navBar {
  background-color: #424f5c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 60px;
  margin: 50px;
  border-radius: 20px;
  border: 1px solid black;
  color: #e8e7e6

}


/* Landing Page Styles */
#posts {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #8c9caa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.singlePost {
  background-color: #e8e7e6;
  opacity: 95%;
  border: 0.5px solid black;
  border-radius: 20px;
  width: 33%;
  margin: 10px;
  padding: 15px;
}

