/* Page background */
body    {
    background-color: rgb(231, 244, 255);
    margin: 0;

}

/* sitter profile header */
.header {
    background-color: #424f5c;
    border-style: solid;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-width: 3px;
}

.headerSize {
    font-size: 110px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: 5%;

}

/* Nav bar */
#navSitter {
    background-color: #424f5c;
    color: #e8e7e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5%;
    margin-left: 78%;
}

.backGround {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8c9caa;
    margin-top: 2%;
    margin-left: 2%;
}

/* profile picture */
img {
    border-radius: 50%;
    border-style: solid;
    width: 25%;
    margin-left: 5%;
}

.flexPicture {
    display: flex;
    padding-top: 3%;
}

/* Name and Email*/
.picName {
    display: flex;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 5%;
    padding-left: 3%;
}

/* Email */
.email {
    font-size: 20px;
}

/* Certifications */
.cert {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

/* Experience */
.exp {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

/* Lets certification and experience be side by side */
.info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-top: 4%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8c9caa;
    width: 92%;
    padding: 10px;
    padding-left: px;
    align-content: center;
    justify-content: center;
}

/* Text box flex */
.textinputFlex {
    display: flex;
}

.inputFlex {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8c9caa;
    padding: 10px;
    margin-top: 2%;
}

.certInput {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9fafb;
}

.certInputMargin {
    margin-bottom: 50%;
}

.expInput {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9fafb;
    margin-top: 20px;
    
}

.button {
    border-radius: 10px;
    border-style: solid;
    border-color: #000;
}

/* Reviews */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8c9caa;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.sitterReviews {
    background-color: white;
    opacity: 95%;
    border: 0.5px solid black;
    border-radius: 20px;
    width: 90%;
    margin: 10px;
    padding: 15px;
    justify-content: center;
    align-content: center;
}    

